*{
    font-family:'Trebuchet MS';
    box-sizing:border-box;
}


body{
    margin:5%;
    min-height:10vh;
}
main {
    max-width: 100%;
    border:solid 2px black;
    border-radius:0.8rem;
    
}
.nav_bar{
    cursor:pointer;
    padding:0.5rem;
    
}
li {
    display: inline-block;
    padding: 0.5rem;
    color: gray;
}
.nav_bar .active {
    color: black;
    font-weight: 700;
    border-bottom: solid 2px black;
}

.info_container{
    
    position:relative;
    min-height:10vh;
    width:90%;
    margin:1.5rem;

}
.main_text {
    margin: 1rem 1.5rem 0.5rem 1.5rem;
    
}
.tab {
    color:white;
    background-color:black;
    padding:2.5rem 2rem;
    border-radius:0.8rem;
    text-align:center;
    position:absolute;
    top:2%;
    width:100%;
    opacity:0;
    
}
.info_container .active{
    opacity:1;
    
}

